<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-title class="ion-text-center">
            Prevenciones
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <p class="ion-text-justify">Hasta la fecha no se dispone de vacuna alguna ni de tratamiento específico para
                combatir la infección por
                coronavirus.</p><br>
            <p class="ion-text-justify">Las medidas preventivas deben seguirlas especialmente aquellas personas que
                padezcan diabetes,
                insuficiencia renal, neumopatía crónica o inmunodepresión, ya que tienen más riesgo de padecer
                enfermedad grave en caso de infección por coronavirus. </p>
        </ion-card-content>

        <ion-card-header>
            <ion-card-title>Medidas para protegerse:</ion-card-title>
        </ion-card-header>

        <ion-item>
            <ion-icon src="assets/icon/preventions/washing-hands.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Límpiese las manos con frecuencia.</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/hand-sanitizer.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Use un desinfectante de manos que contenga al menos 60% de alcohol.
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/touch-nose.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Evite tocarse los ojos, la nariz y la boca con las manos sin lavar.
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/cold.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Cúbrase la boca al toser y estornudar.</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/fever.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Quédese en casa si está enfermo.</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/man.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Use una mascarilla <b>SI</b> está enfermo.</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/bucket.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Limpie Y desinfecte las superficies que se tocan frecuentemente todo los
                días.
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/handshake.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Evite el contacto cercano con personas que estén enfermas.
            </ion-label>
        </ion-item>

<!--        <ion-card-content>-->
<!--            Las personas infectadas por el virus que causa el COVID-19 deben guardar cuarentena desde el diagnóstico de-->
<!--            la enfermedad hasta 15 días después de ser dadas de alta. Así lo aconseja la OMS porque se ha observado que,-->
<!--            aunque ya estén recuperadas, pueden seguir transmitiendo la infección.-->
<!--        </ion-card-content>-->
    </ion-card>

</ion-content>
