<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger">
    <ion-tab-button tab="cases">
      <ion-icon src="assets/icon/list.svg"></ion-icon>
      <ion-label>Casos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="assets/icon/what_is.svg"></ion-icon>
      <ion-label>¿Que es?</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preventions">
      <ion-icon src="assets/icon/help.svg"></ion-icon>
      <ion-label>Prevención</ion-label>
    </ion-tab-button>

<!--    <ion-tab-button tab="about">-->
<!--      <ion-icon src="assets/icon/about.svg"></ion-icon>-->
<!--      <ion-label>Acerca de</ion-label>-->
<!--    </ion-tab-button>-->
  </ion-tab-bar>

</ion-tabs>
