<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


</ion-content>
