<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-title class="ion-text-center">
            ¿Qué es el Covid-19?
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content>
            <p class="ion-text-justify">Es una infeccion respiratoria ocasionada por el <b>SARS-Cov-2</b> (inicialmente
                llamado 2019nCoV).</p>
            <ion-img src="assets/img/cov-cdc.png" class="ion-padding"></ion-img>
            <p class="ion-text-justify">El SARS-Cov-2 es un coronavirus que se transmite por vía aérea a través de las
                gotas de saliva que se emiten al hablar, toser o estornudar, que sirven de transporte para los
                microorganismos que se encuentran en las vías respiratorias, pero también al estrechar la mano de una
                persona enferma o tocar una superficie contaminada.</p>
        </ion-card-content>
            <ion-item>
                <ion-icon name="medkit" slot="start" color="danger"></ion-icon>
                <ion-label>Prevenciones recomendadas</ion-label>
                <ion-button fill="outline" slot="end" routerLink="/tabs/preventions">Ver</ion-button>
            </ion-item>
        <ion-card-content>
            <p class="ion-text-justify">
                La Organización Mundial de la Salud (OMS) ha declarado la situación de pandemia. Hay personas infectadas
                en la mayoría de los países y los profesionales sanitarios insisten en la necesidad de seguir las
                medidas preventivas y evitar la alarma social.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Principales Síntomas
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Estos síntomas pueden aparecer entre 2 a 14 días después de la exposición.
        </ion-card-content>
        <ion-item>
            <ion-icon src="assets/icon/preventions/fever.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Fiebre.</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/cold.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Tos.</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon src="assets/icon/preventions/breathing.svg" size="large" slot="start"></ion-icon>
            <ion-label class="ion-text-wrap">Dificultad para respirar.</ion-label>
        </ion-item>
    </ion-card>

</ion-content>
