<ion-header [translucent]="true">
    <ion-toolbar color="danger">
        <ion-buttons slot="start" *ngIf="!loading && cases.state !== 'Venezuela'">
            <ion-button (click)="showByStates(true)">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title [ngClass]="loading || cases.state === 'Venezuela' ? 'ion-text-center' : ''">
            Casos Covid-19 {{!loading && cases.state !== 'Venezuela' ? 'en '+cases.state : ''}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<div class="progress-bar-container">
    <ion-progress-bar type="indeterminate" color="medium" *ngIf="loading"></ion-progress-bar>
</div>

<ion-content>
    <ion-header class="ion-no-border">
        <ion-toolbar color="">
            <ion-buttons slot="end">
                <ion-button fill="solid"
                            color="secondary"
                            class="button-icon-ve ion-no-padding width-button"
                            (click)="showByStates(false)"
                            [disabled]="!showStates && cases.state === 'Venezuela'">
                    <ion-icon slot="icon-only" src="assets/icon/donut.svg" ></ion-icon>
                </ion-button>
                <ion-button fill="solid"
                            color="secondary"
                            class="width-button"
                            (click)="showByStates(true)"
                            [disabled]="showStates">
                    <ion-icon slot="icon-only" name="options-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>


    <!--  SHOW CASES SELECTED  -->
    <div *ngIf="!loading && !showStates">
        <canvas #graphicCanvas class="ion-padding" height="200px"></canvas>

        <ion-list class="ion-padding animated slideInUp faster">
            <ion-item>
                <ion-icon slot="start" color="primary" name="sad"></ion-icon>
                <ion-label>Confirmados</ion-label>
                <ion-note slot="end" color="primary">{{cases.confirmed}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="danger" name="skull"></ion-icon>
                <ion-label>Fallecidos</ion-label>
                <ion-note slot="end" color="danger">{{cases.deaths}}</ion-note>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="warning" name="thermometer"></ion-icon>
                <ion-label>Totales</ion-label>
                <ion-note slot="end" color="warning">{{cases.total}}</ion-note>
            </ion-item>
        </ion-list>
    </div>


    <!--  SHOW LIST OF STATES  -->
    <ion-list class="ion-padding animated slideInUp faster" *ngIf="!loading && showStates">
        <ion-item button *ngFor="let state of states" (click)="setStateData(state)" >
            <ion-label>{{state}}</ion-label>
        </ion-item>
    </ion-list>


    <!--  SHOW LAST UPDATE  -->
    <ion-item lines="inset" class="last-update">
        <ion-label class="last-update--text">Última actualización: {{lastUpdated | date: 'd MMM. y, h:mm aa'}}</ion-label>
    </ion-item>

</ion-content>
