ion-content ion-toolbar {
    --background: translucent;
}

.button-icon-ve {
    position: relative;
    right: -1px;
}

.icon-ve {
    width: 30px;
    height: 30px;
    font-size: 27px;
    position: relative;

    &.--black {
        filter: invert(41%) sepia(66%) saturate(7499%) hue-rotate(206deg) brightness(104%) contrast(104%);
    }
}

.last-update {
    position: absolute;
    bottom: 8px;
    right: 0;
    height: 30px;
    &--text {
        font-size: 12px;
        color: var(--ion-color-medium-shade);
        font-style: italic;
    }
}
.width-button{
    width: 40px;
}
